/*为了避免麻烦,本文件最好是UTF8格式保存!*/
  
  /*通用类*/
  body{
    margin:2px;
  }
  
   body,table,form
   {
       font-size:9pt;
    }
       
   img
        {
            border:0px;
         }
  


  .DoubleLineBorder {border:double 3px silver;}

 
   /*显示（VIEW）页 相关*/
  .ViewWord{color:Blue;text-align:center;}
  
  
   
   
   /* 与菜单相关的类 */

    .MenuLink{text-decoration:none;color:black;font-weight:bold}


    .SubMenuTable /*子菜单外围的TABLE*/
    {
        FONT-WEIGHT: bold; 
        LINE-HEIGHT: 24px; 
        POSITION: absolute;      
    }

    .SubMenuItemtd {text-align:left;padding-left:12px;height:18px}/*层级菜单,文字的TD*/
    .SubMenuItemtdroot {text-align:left;padding-left:22px;height:18px}/*层级菜单,文字的TD*/

     
    .MenuItemLineHolder
    {
        width:130px;
    }
     
    /* 与TABS切换页相关的类 */ 

    .ActiveTab{color:darkgray;font-size:10.5pt;font-weight:bold;text-decoration:none }
    .NormalTab{color:white;font-size:9pt;text-decoration:none }

    .MainTabZX{color:White;font-size:10.5pt;font-weight:bold;text-decoration:none }


    /* GRIDVIEW 相关*/
    A.GridNavaLink {color:black}
    A.ItemLink{text-decoration:underline;color:black}
    .gvMainList {font-size:9pt;}

    .GridBgColr {background:#C7D8E8;height:22px}
    .GridBgColr A{color:Black}
    .GridRow{height:22px;}


    .GridHeadBgColr {background:#C7D8E8;}

    .LineColorTwo {background:#C7D8E8;}
    .LineColorOne {background:#FFFFFF;}

    .LineColorTwo A{color:Black;}
    .LineColorOne A{color:Black;}

    .SelectLine {background:purple;color:white;}
    .SelectLine input{background:purple;color:white;}
    
    .SelectLine A {color:Yellow;}


    /* 区域滚动 */
    .divList{ z-index:1; overflow:auto;}
    
     /*与母版相关的类*/
    .RightBackColor{background-color:#F2F2F2}
    
    .RightSubMenusBG{background:red}
     
    .RightTDHeight{height:30px}
    .RightCXTDHeight{height:33px}
    .RightDescHeight{height:390px;}
    .RightTDHeight1{height:80px}
    .UserSetupFont{color: #2565B5;font-weight: bold;}
    .LeftPanel{width: 100%; height: 460px; overflow-x: hidden; overflow-y: scroll}

    /* 登录页相关 */
    .f16{FONT-SIZE: 16px}
    .LoginBG{background:#F4F9FC}
    .LoginMiddleBG{background:url('../../Images/Login.jpg');height:600px;width:1003px}
    .LoginFontSize{color:white;font-size:11pt;font-weight:normal;}


    /*其他类*/

    .style1 {color: #03459b}
    .style2 {color: #979797}
    .style6 {color: #0000FF}

    .STYLE7 {color: #2565B5;font-weight: bold;}

    .RightTableWidth{ width:390px }
    
    /*查询,排序标签行交替样式*/
    .TabColorOne {background:#F2F2F2;height:30px}
    .TabColorTwo {background:#FFFFFF;height:30px}
    